{% extends 'base.html' %}

{% block title %} Traverse Pakistan {% endblock %}

{% block navbar_listitems %}
<li>
    <a class="page-scroll" href="#packages">Packages</a>
</li>
<li>
    <a class="page-scroll" href="#places">Places</a>
</li>
<li>
    <a class="page-scroll" href="#contact">Contact</a>
</li>
{% endblock %}

{% block sections %}
<!-- Packages Section -->
    <section id="packages" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="cover">
                    <p>LETS TRAVERSE PAKISTAN</p>
                </div>
            </div>
        </div>
    </section>

<!-- Places Section -->
    <section id="places" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="cover">
                    <p>LETS TRAVERSE PAKISTAN</p>
                </div>
            </div>
        </div>
    </section>

<!-- Contact Section -->
    <section id="contact" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="cover">
                    <p>LETS TRAVERSE PAKISTAN</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
