{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ place.title }} {% endblock %}

{% block css_block %}
<link href="{% static "css/places_details.css" %}" rel="stylesheet">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{% static "css/bootstrap-image-gallery.min.css" %}">
{% endblock %}

{% block navbar_listitems %}
<li class="active">
<a class="page-scroll" href="#cover"><h4>Deals</h4></a>
<span></span>
</li>
<li>
<a class="page-scroll" href="#places"><h4>Places</h4></a>
<span></span>
</li>
<li>
<a class="page-scroll" href="#contact"><h4>Contact</h4></a>
<span></span>
</li>
{% endblock %}

{% block sections %}
<!-- Intro Section -->
{% with "images/covers/"|add:place.coverImage as coverUrl %}
<section id="cover" class="intro-section" style="background-image: url({% static coverUrl %});">
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="white" id="place_title">{{ place.title }}</h1>
                <h3 class="white" id="place_subtitle">{{ place.subtitle }}</h3>
            </div>
        </div>
    </div>
</section>

<section id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h4 class="text-center">{{ place.description }}</h4>
            </div>
        </div>
    </div>
</section>

<section id="gettingthere">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Getting There</h2>
                <h4 class="text-center">{{ place.gettingThere }}</h4>
                <br/>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Gallery</h2>
                <div id="links">
                    <div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": ".grid-sizer", "percentPosition": "true" }'">
                        <div class="grid-sizer"></div>
                        {% for image, thumbnail in galleryZip %}
                            <a href="{{ image }}" data-gallery>

                        {% if forloop.counter|divisibleby:5 %}
                        <div class="grid-item grid-item-height2" style="background-image: url({{thumbnail}});">
                        {% elif forloop.counter|divisibleby:3 %}
                        <div class="grid-item grid-item-width3" style="background-image: url({{thumbnail}});">
                        {% elif forloop.counter|divisibleby:7 %}
                        <div class="grid-item grid-item-width2" style="background-image: url({{thumbnail}});">
                        {% else %}
                        <div class="grid-item" style="background-image: url({{thumbnail}});">
                        {% endif %}
                        </div>

                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block script_block %}

    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFcFkDBYNSO3mn4kE1MO9m9W01OB-gxrA&callback=initMap">
    </script>

    <script>

//center: {lat: {{ place.location.latitude }}, lng: {{ place.location.longitude }}},
    var map;
    function initMap() {
        var position = {lat: {{ place.location.latitude }}, lng: {{ place.location.longitude }}};
        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
center: position,
scrollwheel: false,
zoom: 9
});


var marker = new google.maps.Marker({
position: position,
map: map,
title: '{{ place.title }}'
});
}

    </script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{% static "js/bootstrap-image-gallery.min.js" %}"></script>
    <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
    {% endblock %}
