<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h3><i id="weather-icon"></i></h3>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="weather-temperature">temperature</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="weather-description">description</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 id="weather-humidity">humidity</h4>
                </div>
                <div class="col-md-6">
                    <h4 id="weather-wind">wind speed</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center" id="weather-day">Day</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center" id="weather-date">Date</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <small class="pull-right">Fetched from <a href="http://openweathermap.org" target="_blank">openweathermap.org</a></small>
        </div>
    </div>
</div>
